
* {
  margin :auto;
    box-sizing: border-box;
 }

.slide-container {
  max-width: 800px;
  position: relative;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  
  
}
.each-slide {
  border-radius: 10px;
  display:inline-block;
  height: 375px;
  width: 100%;
  z-index: 1;
  
}
.slide-image{
  border-radius: 10px;
  width:100%;
  background-size: contain;
  overflow: hidden;
  height: 100%;
  
}

.slide-caption{
  
  position :absolute;
  justify-content: space-around ;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  bottom:0;
  color: white;
  padding: 10px;
  font-weight: 600;
  font-size: 18px;
  border-radius: 8px;
}